*{
  box-sizing: border-box;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleHeader{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  background-image: url("../media/pictures/header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  clip-path: ellipse(99% 52% at 51% 32%);
  padding: 100px;
  margin-bottom: 20px;
}

main{
  margin-bottom: 120px;
}

.surfingTheInternet{
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 15%;
  margin-right: 1%;
  text-align: center;
  line-height: 3;
  color: black;
}

a:link, a:visited, a:focus {
  background: rgb(235, 231, 174);
  border-radius: 5px;
}

a:hover {
  background: rgb(230, 144, 161);
}

a:active {
  background: rgb(224, 171, 127);
  color: white;
}

.pageHomeMobile{
  background: rgb(194, 134, 146);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.pageHomeDesktop{
  background: rgb(194, 134, 146);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.pageHomeDesktopMaxPixel{
  background: rgb(194, 134, 146);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.descriptionPageMobile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 30px;
}

.descriptionPageDesktop{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 30px;
}

.descriptionPageDesktopMaxPixel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 30px;
}

.monumentsAndGastroHomeMobile{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: rgb(230, 199, 205) ;
  padding: 30px;
}

.monumentsAndGastroHomeDesktop{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(230, 199, 205);
  padding: 30px;
}

.monumentsAndGastroHomeDesktopMaxPixel{
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: rgb(230, 199, 205);
  padding: 30px;
  margin: 0px;
}

.monumentsAndGastroHomeMobile img{
  border-radius: 5px;
}

.monumentsAndGastroHomeDesktop img{
  border-radius: 5px;
}

.monumentsAndGastroHomeDesktopMaxPixel img{
  border-radius: 5px;
}

.hoverHomeMonumentsDesktop{
  margin-right: 20px;
}

.hoverHomeMonumentsDesktopMaxPixel{
  margin-right: 20px;
}

.ParrafHomeMobile{
  margin-bottom: 30px;
}

.ParrafHomeDesktop{
  margin-bottom: 30px;
}

.ParrafHomeDesktopMaxPixel{
  margin-bottom: 30px;
}

.hide{
  display: none;
}

.show{
  display: block;
}

footer{
  border-top: 2px rgb(167, 142, 104) solid;
  background-color: rgba(235, 178, 104, 0.16);
}

.dataFooter{
  width: 50%;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footerDown{
  color: rgb(206, 131, 191);
  border-top: 1px rgb(156, 152, 152) solid;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 10px;
}

@media (max-width: 739.99px) {

  .homeMainMobileDesktop{
    display: none;
  }

  .homeMainMobileDesktopMaxPixel{
    display: none;
  }

  .pageHomeDesktop{
    display: none;
  }
  
  .pageHomeDesktopMaxPixel{
    display: none;
  }

  .ParrafHomeDesktop{
    display: none;
  }
  
  .ParrafHomeDesktopMaxPixel{
    display: none;
  }
  
}

@media (min-width: 740px) and (max-width: 959.99px) {

  .homeMainMobile{
    display: none;
  }

  .homeMainMobileDesktopMaxPixel{
    display: none;
  }

  .pageHomeMobile{
    display: none;
  }
  
  .pageHomeDesktopMaxPixel{
    display: none;
  }

  .ParrafHomeMobile{
    display: none;
  }
  
  .ParrafHomeDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 960px)  {

  .homeMainMobile{
    display: none;
  }

  .homeMainMobileDesktop{
    display: none;
  }

  .pageHomeMobile{
    display: none;
  }
  
  .pageHomeDesktop{
    display: none;
  }

  .ParrafHomeMobile{
    display: none;
  }
  
  .ParrafHomeDesktop{
    display: none;
  }

}
