*{
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titleHeader{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  background-image: url("../media/pictures/header.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px;
  margin-bottom: 20px;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.dataFooter{
  width: 50%;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.footerDown{
  color: rgb(206, 131, 191);
  border-top: 1px rgb(156, 152, 152) solid;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

@media (max-width: 739.99px) {

  .homeMainMobileDesktop{
      display: none;
  }

  .homeMainMobileDesktopMaxPixel{
    display: none;
  }
  
}

@media (min-width: 740px) and (max-width: 959.99px) {

  .homeMainMobile{
      display: none;
  }

  .homeMainMobileDesktopMaxPixel{
    display: none;
  }

}

@media (min-width: 960px)  {

  .homeMainMobile{
    display: none;
  }

  .homeMainMobileDesktop{
    display: none;
  }

}
